pytictoc
jupyter
ipykernel

pandas
numpy
matplotlib
plotly

astropy
astroquery
opencv-python
scikit-learn
tensorflow==2.12.0
# astroML
# torch

# Note: Ensure the following system dependency is installed:
# sudo apt-get install libgl1-mesa-glx